@font-face {
  font-family: "Montserrat Regular";
  src: url("./assets/fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font_regular: "Montserrat Regular";
}

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-style: normal;
} */

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font_regular), -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.flexRow {
  display: flex;
  flex-direction: row;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}
.alignCenter {
  align-items: center;
}
.justifyCenter {
  justify-content: center;
}

.textCenter {
  text-align: center;
}

.cursorPointer {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
}
